.twelve.columns.offset-by-two
  .tucked-corners.top-corners
      span.tucked-corners.bottom-corners
        p.package
          &nbsp;
        h1#title savefile.it

        #url
          span.getpost GET/POST
          span.cruft http://
          span.domain savefile.it
          span.cruft /
          span.filename :filename
          span.cruft .
          span.extension :extension
          span.cruft ?
          span.contents_param contents
          span.cruft =
          span.contents :contents

