@import 'nib'

body
  color: #222
  font-family: 'Droid Sans', sans-serif
  padding-bottom: 40px

ul#url
  line-height: 36px
  font-size: 20px
  color: #222

  span.divider
    padding: 2px;

  .getpost
    padding: 5px
    font-size: 12px
    margin-right: 10px

.hero-unit
  background-color: #3A87AD
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: white

  h1
    color: inherit

#credits .span11 { line-height: 60px; font-size: 20px; }

